* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'mycustomfont';
    src: url('assets/fonts/Generate\ Changes\ Demo.otf') format('opentype');
}

/* INI STYLE HEADER NYA */
.header {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    flex-wrap: wrap;
    font-family: Sans-serif, Helvetica;
    font-weight: 600;
    position: fixed;
    width: 100%;
    z-index: 999;
    align-items: center;
}

/* INI STYLE TULISAN SYAHJOHAN DI HEADER */
.judulheader {
    font-weight: 800;
    font-size: large;
}

/* GAMBAR SYAH JOHAN */

.FotoJohan {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INI PENGATURAN TULISAN SYAH JOHAN DAN GAMBAR */
.img-dan-judul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

}

/* INI MENU HAMBURGER, KALAU DESKTOP DIA TER HIDE DULU */
.hamburger {
    display: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* INI STYLE NAVIGATIONNYA */
.nav {
    display: flex;
}

/* INI UL YANG ADA DIDALAM NAV */
.list-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

/* INI LIST YANG ADA DIDALAM UL */
li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li a:hover {
    color: aliceblue;
    background-color: rgb(3, 56, 181);
    transition: all 0.5s ease;
    padding: 8px;
    border-radius: 50%;
}


/* INI HALAMAN YANG MEMBUNGKUS SEMUA YANG ADA DIDALAM HALAMAN PEMBUKA KITA*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 3em;
    position: relative;
    min-height: 100vh;
    overflow: hidden;

}

/* BACKGROUND VIDEO */

.videobg {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}

/* INI ADALAH FONT YANG ADA DIDALAM HALAMAN PEMBUKA */
.font-hero {
    font-family: 'mycustomfont';
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* INI ADALAH STYLING RESPONSIVE DARI HAMBURGER */

@media (max-width: 768px) {

    .font-hero,
    .hero {
        font-size: 1.8em;
    }


    .hamburger {
        display: block;
    }

    .nav {
        display: flex;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 45.5px;
        right: 0;
        background-color: rgba(197, 197, 197, 0.05);
        width: max-content;
        flex-direction: end;
        align-items: center;
        transition: all 0.4s ease;
        transform: translateY(-20px);
        border-radius: 10%;
        padding: 10px;
    }

    .nav.active {
        display: flex;
        justify-content: end;
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
        transition: all 0.3s ease;
    }

    .list-nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        list-style-type: none;
    }
}

.footer {
    width: 100%;
    padding: 10px 5px;
    color: white;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    font-family: Sans-serif, Helvetica;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

}




/* ABOUT ME */

.header2 {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    flex-wrap: wrap;
    font-family: Sans-serif, Helvetica;
    font-weight: 600;
    width: 100%;
    z-index: 999;
    align-items: center;
    top: 0;
}


/* .custom-shape-divider-top-1751926799 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    position: fixed;
    z-index: -1;
}

.custom-shape-divider-top-1751926799 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 249px;
}

.custom-shape-divider-top-1751926799 .shape-fill {
    fill: rgba(86, 119, 227, 0.1);
}




.custom-shape-divider-bottom-1751927241 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    position: fixed;
    z-index: -1;
}

.custom-shape-divider-bottom-1751927241 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 249px;
}

.custom-shape-divider-bottom-1751927241 .shape-fill {
    fill: rgba(86, 119, 227, 0.1);
} */


.greeting {
    text-align: center;
    color: white;
    font-family: 'mycustomfont';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
    margin-top: 10%;
    padding-bottom: 3%;
}

.section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%
}

.fotojohan_jas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    margin-right: 20px;
    z-index: 1;
    border-color: antiquewhite;
}

.article_johan {
    color: white;
    width: 40%;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.judul_johan {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    top: 0;
}

.terimakasih {
    margin-top: 20px;
    text-align: start;
    display: flex;
    justify-content: flex-start;
}


.img_about {
    width: 40px;
}

.container_contact {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    gap: 60px;
    padding-left: 3%;
}

.container_contact_child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.imgsosmed {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px
}


@media (max-width: 768px) {
    .section {
        flex-direction: column;
        margin-top: 1%;
        text-align: center;
        display: flex;
        justify-content: center;
        width: 60%;
        margin: auto;

    }

    .fotojohan_jas {
        width: 100%;
        height: auto;
        margin-top: 10%;
    }

    .article_johan {
        width: 100%;
        align-items: center;
        margin-top: 10%;
        text-align: start;
        font-family: Arial, Helvetica, sans-serif;
        font-size: small;


    }

    .judul_johan,
    .text-aboutme,
    .terimakasih {
        text-align: center;
        padding-bottom: 2%;
        display: flex;
        justify-content: center;
    }

    .text-aboutme {
        padding-bottom: 15%;
    }

    .greeting {
        padding-top: 15%;
        flex-wrap: wrap;
        font-size: large;
    }

    .terimakasih {
        padding-bottom: 10%;
    }

    .imgsosmed {
        margin: auto;
    }
}



/* SKILL */


.judul_skill {
    font-family: 'mycustomfont';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    padding-bottom: 5%;
}


.kolom-besar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 30px rgba(0, 0, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20%;
    width: 60%;
    height: 40vh;
    padding: 20px 20px;

}

.container_daftar {
    display: flex;
    padding-bottom: 50px;


}

.container_daftar2 {
    display: flex;

}

.kolom-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
}

.gambar-skill {
    width: 40%;
}

.github {
    width: 144px;
    max-width: 40%;
}



.skill-description {
  color: #ccc;
  margin-top: 20px;
  font-size: 12px;
  text-align: start;
  width: 60%;
  margin-inline: 1;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MEDIA QUERRY */


@media (max-width: 1440px) {
    .judul_skill {
        padding-top: 25%;
        font-size: large;
    }
}




@media (max-width: 768px) {

    .judul_skill {
        text-align: center;
        padding-top: 40%;
        font-size: 12px;
        margin: 0 20%;
    }


    .kolom-besar {
        width: 70%;
        height: 35vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        margin-top: 10%;

    }

    .gambar-skill {
        width: 40%;
    }

    .kolom-logo {
        font-size: 30%;
        width: 100%;
        height: 100;
    }

    .github {
        max-width: 40%;
    }

    .container_daftar,
    .container_daftar2 {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .container_daftar {
        padding-bottom: 30px;
    }

    .skill-description {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: start;

    }
}





@media (max-width: 415px) {

    .judul_skill {
        padding-top: 25%;
    }

    .kolom besar {
        height: 30vh;
        width: 50%;
    }
}




@media (max-width: 480px) {
    .kolom-besar {
        height: 20vh;
    }

}
